html {
    background-image: url('../assets/brickwall.jpeg');
    background-size: 20%
}
.penalty-block {
    width: 50px;
    height: 50px;
}
header {
    display: flex;
    justify-content: center;
    margin-bottom: -400px;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#frame {
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    top: -136px;
    left: -150px;
    width: 1000px;
    height: 680px;
    z-index: 20;
}
#border-1 {
    border: 3px solid goldys ;
    position: relative;
    display: flex;
    align-self: center;
    top: 445px;
    left: 0px;
    width: 840px;
    height: 480px;
    background-image: url('../assets/ray-background.png');
    background-position: center;
    z-index: 0;
}
#gallows {
    width: 700px;
    height: 400px;
    position: relative;
    display: flex;
    border: 5px solid black;
    align-self: center;
    background-image: url('../assets/gallows-1.jpeg');
    background-position: top;
    background-size: 30%;
    background-color: #212121;
    background-repeat: no-repeat;
    z-index: 2;
}
#spacer {
    height: 105px;
}
#objective-word {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    align-self: center;
    height: 75px;
    width: 500px;
    margin: 10px;
    margin-bottom: -10px;
}
#obj-letters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 8px;
}
.obj-letters {
    transition: all 250ms ease-in-out;
}
#underline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: 50px;
    margin-top: -60px;
}
#letter-buttons {
    border: 1px solid black;
    width: 600px;
    height: 150px;
    margin: 20px;
    top: 200px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: -10px;
}
.letter-button {
    height: 30px;
    width: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}
#row-one {
    display: flex;
    justify-content: space-around;
    width: 600px;

}
#row-two {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
#row-three {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
}
#head {
    background-image: url('../assets/will-ferrell-1.png');
    display: flex;
    justify-content: center;
    position: absolute;
    width: 83px;
    height: 83px;
    top: 97px;
    left: 44.7%;
}
#torso {
    background-color: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 140px;
    width: 125px;
    height: 200px;
    left: 41.1%;
    padding: 0px;
    z-index: 5;
}
#wings {
    background-color: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    width: 125px;
    height: 200px;
    left: 41.1%;
    padding: 0px;
}
#left-arm {
    background-color: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10px;
    width: 200px;
    height: 400px;
    left: 22%;
    z-index: 4;
}
#right-arm {
    background-color: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 135px;
    width: 150px;
    height: 110px;
    left: 50%;
    z-index: 4;
}
#crotch {
    background-color: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 250px;
    width: 150px;
    height: 120px;
    left: 39.4%;
    z-index: 11;
}
#left-leg {
    background-color: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 190px;
    width: 225px;
    height: 225px;
    left: 20.7%;
    z-index: 10;
}
#right-leg {
    background-color: none;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 190px;
    width: 225px;
    height: 225px;
    left: 47.7%;
    z-index: 10;
}
.hidden-img {
    display: none;
}
.hidden-letter {
    opacity: 0;
}
